@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --black: #000;
    --header-black: #2f2f2f;
    --grey: #909090;
    --light-gray: #f4ece1;
}
body{
    width: 100%;
    
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    font-family: "Poppins" , sans-serif;
}
.container{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 65px;
    
}
.brand{
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 94px;
    height: 45px;
}
.brand img{
    width: 100%;
    height: 100%;    
    
}

.nav_links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}

ul li:not(:last-child){
    margin-right: 56px;
}
li{
    list-style: none;
}
a , a:hover , a:active{
    text-decoration: none;
}


.nav_links ul li a{
    color: var(--black);
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search input{
    width: 220px;
    height: 45px;
    border-radius: 30px;
    border: 0;
    padding: 0 55px;
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1);

    
}

#search-icon{
    position: absolute;
    left: 8%;
    top: 25%;
}
.cart-icon{
    position: absolute;
    top: 34%;
    right: 16%;

}
.line{
    position: absolute;
    top: 12%;
    right: 25%;
    width: 2px;
    height: 30px;
    background-color: var(--grey);
    opacity: 0.5;
}

.cart-icon::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EC2633;
    box-shadow: 0px 2px 23px 1px rgba(255, 51, 52, 0.72);
    position: absolute;

}

.h1{
    position: absolute;
    width: 262px;
    height: 119px;
    left: 87px;
    top: 242.94px;
    font-weight: 700;
    font-size: 80px;
    line-height: 150.8%;
    color: #FF7E00;

    
}
.h2{
    position: absolute;
    width: 221px;
    height: 98px;
    left: 366px;
    top: 252.94px;
    font-weight: 700;
    font-size: 50px;
    line-height: 150.8%;
   
    
    
    color: #2F2F2F;

}
.text{
    position: relative;
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    top: -200px;
    
   

}
.paraph{
    position: absolute;
    width: 568px;
    height: 62px;
    left: 93px;
    top: 400px;
    font-weight: 400;
    font-size: 22px;
    color: var(--grey);
    }
.circle{
    position: absolute;
    width: 150px;
    height: 60px;
    left: 93px;
    top: 491.94px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.2);
    border-radius: 84px;

    }
.pra{
    position: absolute;
    width: 108px;
    height: 19px;
    left: 122px;
    top: 508px;
    font-size: 18px;
    color: #F4ECE1;
}
.circle-white{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 309px;
    top: 496.94px;
    border-radius: 50%;
    background: #FFF8F0;
    box-shadow: 0px 20px 36px -16px rgba(0, 0, 0, 0.1);
}
.circle-white img{
    position: absolute;
    left: 22px;
    top: 18px;
}
.pr{
     position: absolute;
    width: 131px;
    height: 19px;
    left: 377px;
    top: 510px;
    font-weight: 700;
    color: #2F2F2F;
}
.stars{
    position: absolute;
    width: 255px;
    height: 92px;
    left: 93px;
    top: 620px;
}
.big-image{
    position: relative;
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    top: -200px;
}
.big-image img{
    position: absolute;
    left: 600px;
    top:  250px;
    width: 700px;
    height: 502px;
}

.star-tex{
    
}