*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Lexend Deca';
    margin-top: 150px;
    
    justify-content: center;

}
.container{
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap;


}
.card{
    position: relative;
    background-color:  hsl(31, 77%, 52%);
    width: 220px;
    height: 400px;
   
}
.card2{
    position: relative;
    background-color: hsl(179, 100%, 13%);
    width: 220px;
    height: 400px;
}
.card1{
    position: relative;
    background-color:  hsl(184, 100%, 22%);
    width: 220px;
    height: 400px;
}
.jaale{
    margin: 40px;
    
}
.cagar{
    margin: 40px;

}
.blue{
    margin: 40px;

}
.card2 p{
    margin: 20% 20px 0 ;
    color: white;
    position: absolute;
}
.card1 p{
    margin: 20% 20px 0 ;
    color: white;
    position: absolute;
}
.card p{
    margin: 20% 20px 0 ;
    color: white;
    position: absolute;
   
}
.card2 h1{
    color: white;
    font-size: medium;
    font-family: 'Lexend Deca';
    position: absolute;
    margin-left: 20px;

    
}
.card1 h1{
    color: white;
    font-size: medium;
    font-family: sans-serif;
    position: absolute;
    margin-left: 20px;
   
    
}
.card h1{
    color: white;
    font-size: medium;
    font-family: sans-serif;
    position: absolute;
    margin-left: 20px;
    font-family: 'Lexend Deca';
    
}
.btn1{

    margin: 210px 0px 0px 20px;
    border: navy;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: hsl(31, 77%, 52%);
}
.btn2{

    margin: 210px 0px 0px 20px;
    border: navy;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: hsl(184, 100%, 22%);
}
.btn3{

    margin: 210px 0px 0px 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: hsl(179, 100%, 13%);
}
.btn1:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 1px solid white;

    
}
.btn2:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 1px solid white;

    
}
.btn3:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 1px solid white;

    
}